body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgb(247, 215, 241);
}

.header_text {
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
